/* local fixes for the theme */

body { font-family: "Helvetica","Arial",sans-serif }

.globaltoc .nav-toggle { height:24px }
.globaltoc .toctree-l1 ul.current { background-color: #0000000a }
.globaltoc ul li.toctree-l2 .link-wrapper>a {
    font-size: 0.9rem;
    line-height: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
.globaltoc ul li .link-wrapper>a { padding:0px }
.globaltoc ul li {min-height:24px }

.page-content pre { white-space: pre; }
.page-content p, .page-content ul { font-size: 1.1rem; }
.page-content h2, .page-content h3, .page-content h4 { padding-top: 1rem; margin-bottom: 0.5rem }

.globaltoc ul li.toctree-l2 { font-size: 0.8rem }

.toctree-wrapper { border-left: 0px none; }
.toctree-wrapper ul {
    padding-left: 14px;
    line-height: 1.5rem;
}
.toctree-wrapper a {
    font-size: 1.1rem!important;
}

div.admonition {
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* missing styles */
.align-left { text-align: left; }
.align-center { text-align: center; display: block; margin-left: auto; margin-right: auto; }
.align-right { text-align: right; display: block; margin-left: auto; }

/* 'literal and doxytag reference' roles */
.reference-cpp, .reference-ned, .reference-ini, .reference-msg, .reference-fp {
    font-size: 0.95rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    text-decoration: none;
    font-family: monospace;
}

/* uncomment to highlight unresolved links with red background - for development only */
/*
span.reference-cpp, span.reference-ned, span.reference-ini, span.reference-msg, span.reference-fp {
   background: rgba(255, 0, 0, 0.2);
}
*/

.literal-cpp, .reference-cpp { color: darkblue; }
.literal-ini, .reference-ini { color: darkorange; }
.literal-ned, .reference-ned { color: darkgreen; }
.literal-msg, .reference-msg { color: purple; }
.literal-fp, .reference-fp { color: white; }
.protocol { font-style: italic; }

.page-content .code, .page-content code:not(.download) {
    margin: 0 4px;
    padding: 1px 4px;
    background: rgba(0,0,0,.05);
    border-radius: 3px;
}

.page-content code.literal {
    font-size: 0.95rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.page-content code.literal {
    font-size: 0.95rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

/* higlighter backgrounds */
.highlight-cpp .highlight { background-color: #e6f3ff }
.highlight-ini .highlight { background-color: #fef5d6 }
.highlight-ned .highlight { background-color: #eeffe4 }
.highlight-msg .highlight { background-color: #fcf5ff }
.highlight-fp .highlight { background-color: #000000; text-color= #ffffff }

/* bottom navigation buttons */
.pagenation #button-prev {
    padding: 0 30px;
    justify-content: left;
}

.pagenation #button-next {
    padding: 0 30px;
    justify-content: right;
}

a.download:before {
    margin-right: -4px;
}

div.figure, video {
    margin: 0.5em 0.5em 1em 0.5em;
    padding: 0;
}
