<Devices>
	<!-- R1 -->
	<Router id="10.0.1.0">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>10.0.12.1</IPAddress>
                <Mask>255.255.255.252</Mask>
                <EIGRP-IPv4 asNumber='1'>
                </EIGRP-IPv4>
            </Interface>
            <Interface name="eth1">
                <IPAddress>10.0.1.1</IPAddress>
                <Mask>255.255.255.0</Mask>
                <EIGRP-IPv4 asNumber='1'>
                </EIGRP-IPv4>
            </Interface>        
        </Interfaces>
        
        <Routing>
        	<EIGRP>
	        	<ProcessIPv4 asNumber="1">
	        		<Networks>
	        			<Network> 
	        				<IPAddress>10.0.12.1</IPAddress>						 
						 	<Wildcard>0.0.0.3</Wildcard>
						</Network>
						<Network> 
	        				<IPAddress>10.0.1.0</IPAddress>						 
						 	<Wildcard>0.0.0.255</Wildcard>
						</Network>
	        		</Networks>
	        	</ProcessIPv4>
        	</EIGRP>
        </Routing>
        
        <Routing6>
        </Routing6>
        
    </Router>
    
    <!-- R2 -->
    <Router id="10.0.2.0">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>10.0.12.2</IPAddress>
                <Mask>255.255.255.252</Mask>
                <EIGRP-IPv4 asNumber='1'>
                </EIGRP-IPv4>
            </Interface>
            <Interface name="eth1">
                <IPAddress>10.0.23.1</IPAddress>
                <Mask>255.255.255.252</Mask>
                <EIGRP-IPv4 asNumber='1'>
                </EIGRP-IPv4>
            </Interface>
            <Interface name="eth2">
                <IPAddress>10.0.2.1</IPAddress>
                <Mask>255.255.255.0</Mask>
                <EIGRP-IPv4 asNumber='1'>
                </EIGRP-IPv4>
            </Interface> 
        </Interfaces>
        
        <Routing>
        	<EIGRP>
	        	<ProcessIPv4 asNumber="1">
	        		<Networks>
	        			<Network> 
	        				<IPAddress>10.0.12.2</IPAddress>						 
						 	<Wildcard>255.255.255.252</Wildcard>
						</Network> 
						<Network> 
	        				<IPAddress>10.0.23.2</IPAddress>						 
						 	<Wildcard>255.255.255.252</Wildcard>
						</Network> 
						<Network> 
	        				<IPAddress>10.0.2.0</IPAddress>						 
						 	<Wildcard>0.0.0.255</Wildcard>
						</Network>
	        		</Networks>
	        	</ProcessIPv4>
        	</EIGRP>
        </Routing>
        
        <Routing6>    
        </Routing6>
        
    </Router>
    
    <!-- R3 -->
    <Router id="10.0.3.0">
        <Interfaces>
            <Interface name="eth0">
                <IPAddress>10.0.23.2</IPAddress>
                <Mask>255.255.255.252</Mask>
                <EIGRP-IPv4 asNumber='1'>
                </EIGRP-IPv4>
            </Interface>
            <Interface name="eth1">
                <IPAddress>10.0.3.1</IPAddress>
                <Mask>255.255.255.0</Mask>
                <EIGRP-IPv4 asNumber='1'>
                </EIGRP-IPv4>
            </Interface> 
        </Interfaces>
        
        <Routing>
        	<EIGRP>
	        	<ProcessIPv4 asNumber="1">
	        		<Networks>
	        			<Network> 
	        				<IPAddress>10.0.23.2</IPAddress>						 
						 	<Wildcard>255.255.255.252</Wildcard>
						</Network> 
						<Network> 
	        				<IPAddress>10.0.3.0</IPAddress>						 
						 	<Wildcard>0.0.0.255</Wildcard>
						</Network>
	        		</Networks>
	        	</ProcessIPv4>
        	</EIGRP>
        </Routing>
        
        <Routing6>    
        </Routing6>
        
    </Router>
    
    	<Host id="10.0.1.2">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.1.2</IPAddress>
                <Mask>255.255.255.0</Mask>
			</Interface>
		</Interfaces>
		<DefaultRouter>10.0.1.1</DefaultRouter>
	</Host>
		<Host id="10.0.2.2">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.2.2</IPAddress>
                <Mask>255.255.255.0</Mask>
			</Interface>
		</Interfaces>
		<DefaultRouter>10.0.2.1</DefaultRouter>
	</Host>
		<Host id="10.0.3.2">
		<Interfaces>
			<Interface name="eth0">
				<IPAddress>10.0.3.2</IPAddress>
                <Mask>255.255.255.0</Mask>
			</Interface>
		</Interfaces>
		<DefaultRouter>10.0.3.1</DefaultRouter>
	</Host>

</Devices>