<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
	    <AnalogueModel type="TestAnalogueModel">
	        <parameter name="attenuation" type="double" value="1.1"/>
	    </AnalogueModel>
	    <AnalogueModel type="TestAnalogueModel">
	        <parameter name="attenuation" type="double" value="2.1"/>
	    </AnalogueModel>
	</AnalogueModels>
	<Decider type="TestDecider">
		<Parameter name="aString" type="string" value="teststring"></Parameter>
		<Parameter name="anotherString" type="string" value="testString2"></Parameter>
		<Parameter name="aBool" type="bool" value="true"></Parameter>
		<Parameter name="anotherBool" type="bool" value="false"></Parameter>
		<Parameter name="aDouble" type="double" value="0.25"></Parameter>
		<Parameter name="anotherDouble" type="double" value="-13.52"></Parameter>
		<Parameter name="aLong" type="long" value="234567"></Parameter>
		<Parameter name="anotherLong" type="long" value="-34567"></Parameter>
	</Decider>
</root>