<Devices>
	<Router id="Router1">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.1</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:100/64</IPv6Address>
				<IPv6Address>2001:db8:a::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router2">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.2</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:200/64</IPv6Address>
				<IPv6Address>2001:db8:a::2/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:210/64</IPv6Address>
				<IPv6Address>2001:db8:b::2/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router3">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.3</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:300/64</IPv6Address>
				<IPv6Address>2001:db8:b::1/64</IPv6Address>
			</Interface>
			
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.1</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:310/64</IPv6Address>
				<IPv6Address>2001:db8:c::1/64</IPv6Address>
			</Interface>
			
			<Interface name="eth2">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.1</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:320/64</IPv6Address>
				<IPv6Address>2001:db8:d::1/64</IPv6Address>
			</Interface>
			
		</Interfaces>
	</Router>
	
	<Router id="Router4">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.4</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.1</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:400/64</IPv6Address>
				<IPv6Address>2001:db8:c::2/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router5">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>10.10.10.5</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.1</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:500/64</IPv6Address>
				<IPv6Address>2001:db8:d::2/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
</Devices>