<Devices>
	<Router id="Router1">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>1.1.1.1</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:100/64</IPv6Address>
				<IPv6Address>1111::1/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:110/64</IPv6Address>
				<IPv6Address>1144::1/64</IPv6Address>
			</Interface>
			
		</Interfaces>
	</Router>
	
	<Router id="Router2">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>2.2.2.2</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
				
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:200/64</IPv6Address>
				<IPv6Address>1111::2/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:210/64</IPv6Address>
				<IPv6Address>3322::1/64</IPv6Address>
			</Interface>
			<Interface name="eth2">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:220/64</IPv6Address>
				<IPv6Address>2266::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router3">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>3.3.3.3</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>
		
		<Interfaces>
		
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:300/64</IPv6Address>
				<IPv6Address>1111::3/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:310/64</IPv6Address>
				<IPv6Address>3322::2/64</IPv6Address>
			</Interface>
			
		</Interfaces>
	</Router>
	
	<Router id="Router4">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>4.4.4.4</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
				
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:400/64</IPv6Address>
				<IPv6Address>1144::2/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:410/64</IPv6Address>
				<IPv6Address>4455::1/64</IPv6Address>
			</Interface>
			<Interface name="eth2">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:420/64</IPv6Address>
				<IPv6Address>4466::1/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
	
	<Router id="Router5">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>5.5.5.5</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
				
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:500/64</IPv6Address>
				<IPv6Address>4455::2/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:510/64</IPv6Address>
				<IPv6Address>5566::1/64</IPv6Address>
			</Interface>
			
		</Interfaces>
	</Router>
	
	<Router id="Router6">
		<Routing6>
			<OSPFv3>
				<Process id="100">
					<RouterID>6.6.6.6</RouterID>
				</Process>
			</OSPFv3>
		</Routing6>

		<Interfaces>
				
			<Interface name="eth0">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:600/64</IPv6Address>
				<IPv6Address>4466::2/64</IPv6Address>
			</Interface>
			<Interface name="eth1">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:610/64</IPv6Address>
				<IPv6Address>5566::2/64</IPv6Address>
			</Interface>
			<Interface name="eth2">
				<Process id="100">
					<Instance AF="IPv6">
						<InterfaceType>Broadcast</InterfaceType>
						<Area>0.0.0.0</Area>
					</Instance>
				</Process>
				<IPv6Address>fe80::a8bb:ccff:fe00:620/64</IPv6Address>
				<IPv6Address>2266::2/64</IPv6Address>
			</Interface>
		</Interfaces>
	</Router>
</Devices>

