name: "Test: fingerprint"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    # nothing

jobs:
  fingerprint-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: ["debug", "release"]
        split: [0, 1, 2, 3]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          repository: omnetpp/omnetpp
          path: omnetpp
      - uses: actions/checkout@v4
        with:
          path: inet
      - run: mkdir -p /home/runner/work/ccache
      - uses: actions/cache/restore@v3
        with:
          path: /home/runner/work/ccache
          key: native-${{ matrix.mode }}-ccache-${{ github.run_id }}
          # See: https://github.com/actions/cache/blob/main/tips-and-workarounds.md#update-a-cache
          restore-keys: native-${{ matrix.mode }}-ccache
      - name: Build and test
        env:
          MODE: ${{ matrix.mode }}
        run: |
          echo "::group::Installing packages"
          sudo apt update
          sudo apt install -y --no-install-recommends git wget curl ca-certificates \
            make ccache clang lld gdb bison flex perl doxygen graphviz libxml2-dev zlib1g-dev \
            libavcodec-dev libavformat-dev libavutil-dev libswresample-dev libz3-dev libopenscenegraph-dev python3
          echo "::endgroup::"

          source $GITHUB_WORKSPACE/inet/_scripts/github/build-omnetpp.sh

          source $GITHUB_WORKSPACE/inet/_scripts/github/build-inet.sh

          echo "::group::Running fingerprint tests"
          SPLIT_N=4
          SPLIT_I=${{ matrix.split }}
          cd $GITHUB_WORKSPACE/inet/tests/fingerprint
          # this indirectly calls the script named simply "inet", which handles the MODE envvar internally
          ./fingerprinttest -n $SPLIT_N -i $SPLIT_I -f 'tplx' -f '~tNl' -f '~tND'
          echo "::endgroup::"
