name: "Test: statistical"

on:
  push:
    branches:
      - master
  workflow_dispatch:
    # nothing

jobs:
  statistical-tests:
    runs-on: ubuntu-latest
    # runs-on: [self-hosted, linux]
    strategy:
      matrix:
        mode: ["release"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          repository: omnetpp/omnetpp
          path: omnetpp
      - uses: actions/checkout@v4
        with:
          path: inet
      - run: mkdir -p /home/runner/work/ccache
      - uses: actions/cache/restore@v3
        with:
          path: /home/runner/work/ccache
          key: native-${{ matrix.mode }}-ccache-${{ github.run_id }}
          # See: https://github.com/actions/cache/blob/main/tips-and-workarounds.md#update-a-cache
          restore-keys: native-${{ matrix.mode }}-ccache
      - name: Build and test
        env:
          MODE: ${{ matrix.mode }}
        run: |
          echo "::group::Installing packages"
          sudo apt update
          sudo apt install -y --no-install-recommends git wget curl ca-certificates python3 \
            make ccache clang lld gdb bison flex perl doxygen graphviz libxml2-dev zlib1g-dev \
            libavcodec-dev libavformat-dev libavutil-dev libswresample-dev libz3-dev libopenscenegraph-dev
          echo "::endgroup::"

          source $GITHUB_WORKSPACE/inet/_scripts/github/build-omnetpp.sh

          echo "::group::Installing pip"
          sudo apt install -y python3-pip
          echo "::endgroup::"

          echo "::group::Installing Python packages"
          python3 -m pip install --upgrade matplotlib numpy pandas seaborn scipy ipython posix-ipc cppyy sewar dask distributed optimparallel
          echo "::endgroup::"

          source $GITHUB_WORKSPACE/inet/_scripts/github/build-inet.sh

          echo "::group::Cloning inet statistical results"
          git clone https://github.com/inet-framework/statistics.git
          echo "::endgroup::"

          echo "::group::Running statistical tests"
          inet_run_statistical_tests -m release
          echo "::endgroup::"
      - uses: actions/upload-artifact@v3
        if: always() # even if the test failed, of course
        with:
          name: statistical-test-results
          path: ${{ github.workspace }}/inet/statistics/**/*.diff
          if-no-files-found: ignore
